* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.max_width {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.background {
    padding: 4rem 0;
}

.container {
    min-height: 500px;
}

.flex_box {
    display: flex;
}

/* header */

header {
    background-color: #205EEA;
}

nav {
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;
}

.links {
    flex: 0 0 55%;
    justify-content: space-around;
    list-style: none;
}

.links li a {
    color: white;
    text-decoration: none;
}

.links li a:hover {
    text-decoration: underline;
}

.login {
    background-color: white;
    padding: 8px;
    border-radius: 50px;
}

.jumbo {
    min-height: 600px;
    padding-top: 10rem;
    padding-bottom: 2rem;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.violet_container {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 1rem;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.download_mac {
    display: inline-block;
    background-color: white;
    color: black;
    margin: 20px;
    padding: 15px;
    border-radius: 50px;
}

.open_in_browser {
    display: inline-block;
    background-color: black;
    margin: 20px;
    padding: 15px;
    border-radius: 50px;
}

/* main */

.image {
    flex: 0 0 60%;
}

.pink {
    flex: 0 0 40%;
    background-color: pink;
}

.lightgrey {
    background-color: lightgrey;
}

.green_container {
    max-width: 1000px;
    min-height: 800px;
    background-color: green;
}

.dimgrey {
    background-color: dimgrey;
}

.salmon {
    flex: 0 0 calc(100% / 3);
    background-color: salmon;
}

.darkcyan {
    flex: 0 0 calc(100% / 6);
    background-color: darkcyan;
    border: 2px dashed white;
}

.top_footer {
    padding: 10px 0 40px 0;
}

.bottom_footer {
    padding-top: 20px;
}

footer nav {
    padding: 15px 0;
    background-color: aquamarine;
}

footer nav div {
    padding: 5px 10px;
    background-color: pink;
}