* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p {
    line-height: 33px;
}

.logo {
    height: 100%;
}

main section>div, nav {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* links reset*/

.white_link {
    color: white;
}

li a {
    color: white;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

li a:hover {
    text-decoration: underline;
}

/* header */

header {
    background-color: #205EEA;
    font-size: 16px;
    font-weight: 700;
}

nav {
    height: 4.5rem;
    padding: 1rem;
}

.links {
    height: 100%;
    display: flex;
    list-style: none;
}

.links li {
    height: 100%;
}

.nav_item {
    height: 100%;
    white-space: nowrap;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
}

.links .logo,
.links .login {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

.links .logo a {
    height: 100%;
}

.links .logo a img {
    display: flex;
    align-items: center;
    height: 100%;
}

.links .login {
    justify-content: flex-end;
}

.links .login a {
    height: 100%;
    font-size: 14px;
    padding: 7px 16px;
    line-height: 24px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: black;
}

.links .login a:hover {
    color: #738ADBff;
}

.jumbo_bg {
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-image: url(img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbo_container {
    font-size: 20px;
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 1rem;
    color: white;
    text-align: center;
}

.jumbo_container h1 {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.jumbo_container p {
    margin-bottom: 3rem;
}

.download_mac {
    margin-right: 24px;
    padding: 16px 32px;
    line-height: 24px;
    border-radius: 50px;
    display: inline-block;
    background-color: white;
}

.download_mac:hover {
    color: #738ADBff;
}

.download_link {
    text-decoration: none;
    color: black;
}

.open_in_browser {
    padding: 16px 32px;
    line-height: 24px;
    border-radius: 50px;
    display: inline-block;
    background-color: #1D2225ff;
}

/* main */

main .wave_bg {
    filter: invert(100%) sepia(2%) saturate(103%) hue-rotate(111deg) brightness(114%) contrast(93%);
    display: block;
}

main .reverse_wave_bg {
    filter: invert(100%) sepia(2%) saturate(103%) hue-rotate(111deg) brightness(114%) contrast(93%);
    transform: rotate(180deg);
    display: block;
}

main section {
    padding: 6rem 0;
}

main section>div {
    display: flex;
    align-items: center;
    gap: 10%;
}

main img {
    width: 100%;
    display: block;
    flex: 0 0 58%;
}

main .text {
    flex: 0 0 32%;
    color: #1D2225ff;
}

main h2 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

main .grey_bg {
    background-color: #F6F6F6ff;
}

main .last_container {
    max-width: 1400px;
    margin-inline: 1rem;
    text-align: center;
}

main .last_container>p {
    padding-inline: 6rem;
}

.last_container h3 {
    font-size: 2rem;
    padding: 31px;
    width: max-content;
    margin: auto;
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.last_container .download_for_mac {
    width: max-content;
    margin: auto;
    padding: 16px 32px;
    line-height: 24px;
    border-radius: 50px;
    color: white;
    background-color: #738ADBff;
}

/* footer */

footer {
    background-color: #1D2225ff;
    padding: 3rem 0 2rem 0;
}

.top_footer_bg, .bottom_footer_bg {
    max-width: 1200px;
    margin-inline: auto;
}

.top_footer_container {
    padding: 10px 0 40px 0;
    display: flex;
    border-bottom: 1px solid #738ADBff;
}

.top_footer_container h3 {
    font-size: 1.9rem;
    color: #738ADBff;
    margin-top: 15px;
    margin-bottom: 20px;
}

.top_footer_container img {
    width: 22px;
}

footer .ita_lang {
    display: inline-block;
    color: white;
    margin-bottom: 20px;
}

.top_footer_container i {
    color: white;
    margin-right: 15px;
}

footer .social {
    flex: 1 1 calc(100% / 3);
}

.top_footer_column {
    flex: 1 1 calc(100% / 6);
    font-size: 14px;
    list-style: none;
}

.top_footer_column li {
    margin-top: 15px;
}

.top_footer_column li h4 {
    color: #738ADBff;
    font-size: 1rem;
}

.bottom_footer_container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
}

.register {
    font-size: 14px;
    padding: 7px 16px;
    line-height: 24px;
    border-radius: 50px;
    background-color: #738ADBff;
}

.register a {
    color: white;
}